body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Arial', sans-serif;
}


.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 99px;
    padding-top: 18px;
    padding-bottom: 120px;
}

/* header */
.header {
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 21px;
    font-weight: 900;
    color: #f9faf8
}

ul {
    list-style-type: none;
}

.links {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

a {
    color: #e5e7ebe0;
    text-decoration: none;
}

/* header ^*/

/* header-content */
.hero .content {
    width: 920px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
}

.left-content {
    width: 438px;
}

h2 {
    font-size: 43px;
    color: #f9faf8;
    margin: 0px
}

.left-content p {
    font-size: 15px;
    color: #e5e7ebe0;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding-right: 8px;
}

.left-content button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 28px;
    border: none;
    border-radius: 5px;
}

.right-content {
    width: 465px;
    background-color: #e5e7eb67;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    color: #e5e7ebe4;
}

/* header-content ^ */

/* info section */
.info {
    text-align: center;
    padding-bottom: 118px;
}

h3 {
    font-size: 30px;
    font-weight: 800;
    margin: 45px auto;
}

.info .all-content {
    display: flex;
    justify-content: center;
    gap: 31px;
}

.container {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.box {
    border: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: #3882f6;
    height: 135px;
    width: 135px;
}

.container .content {
    color: #898989;
}

/* info section ^ */

/* quote section */
.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 130px;
}

.quote .container {
    width: 650px;
    display: flex;
    flex-direction: column;
}

.quote .content {
    font-size: 32px;
    font-style: italic;
    color: #626568;
}

.author {
    font-size: 19px;
    font-weight: 800;
    padding-left: 450px;
    color: #595b5d;
}

/* sign-up section */
.signup {
    background-color: #3882f6;
    color: white;
    height: 70px;
    width: 850px;
    margin: 90px auto;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 290px;
}

.content h4 {
    font-size: 20px;
    margin: 2px auto;
}

.content p {
    color: #c4c4c4;
    margin: auto;
}

.signup button {
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color: white;
    padding: 5px 28px;
    font-size: 16px;
}

/* sign-up section ^ */

/* footer */
.footer {
    background-color: #1f2937;
    color: #b6b6b6;
    text-align: center;
    padding: 30px 120px;
}